{{> header title=titulo}}
<main class="flex flex-col items-center space-y-8 p-8">
  <div class="w-full max-w-md flex justify-between items-center">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-5/12" data-v0-t="card">
      <div class="p-6 flex items-center justify-center"><img onclick="voteImg(this)" src="{{memeGif1}}" alt="{{meme1}}"
          width="300" height="300" style="aspect-ratio: 300 / 300; object-fit: cover;" /></div>
    </div>
    <p class="text-xl font-bold">or</p>
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-5/12" data-v0-t="card">
      <div class="p-6 flex items-center justify-center"><img onclick="voteImg(this)" src="{{memeGif2}}" alt="{{meme2}}"
          width="300" height="300" style="aspect-ratio: 300 / 300; object-fit: cover;" /></div>
    </div>
  </div>
</main>
<script src="/js/vote.js"></script>
</body>

</html>