{{> header title=titulo}}
    <div class="w-full flex flex-col items-center h-full">
        <ul>
            {{#each ranking}}
                <li class="bg-red-500 flex flex-row">
                    <img width="200" height="200" src="{{ url }}" alt="{{ name }}">
                    <div class="flex flex-col justify-center p-5">
                        <span>{{ name }}</p>
                        <span class="font-bold">Elo: {{ rating }}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</body>

</html>